 .header-1,.header-2,.header-0{
    display:flex;
    height:20px;
    padding-bottom: 19px;
    gap: 10px;
    }
    .header-0{
        justify-content:space-evenly;
        height:25px;
        background-color:whitesmoke;

        
    }
    .header-p{
        font-size:14px;
        color: rgb(78, 74, 74);
        cursor: pointer;
    }
      
      @media screen and (min-width: 880PX) {
        .header-0 {
          width: 100%;
        }
      }

    .nav-i{
        padding-top:1px;
        cursor: pointer;
    }
   .nav-img{
        margin-top:1px;
        width:17px;
        height:17px;
        cursor: pointer;
    }
    .main-cont{
        width: 100%;
        padding:10px;
        justify-content: center;
        box-shadow: rgb(204, 219, 232) 0px -2px 6px 0px inset, rgba(255, 255, 255, 0.5) 0px 0px 0px 0px inset;
    }
    .container {
        width: 90%;   
        margin: auto;
        display: flex;
        padding-top:15px;
        padding-bottom:15px;
        align-items: center;
        justify-content:space-evenly;
       
      }

     #freshest{
      color:rgba(128, 128, 128, 0.658);
      font-size:14px;
    }
    #shop-cat{
        font-size:22px;
        font-weight:bold; 
    }
    .nav-inp{
        height:40px;
        width:410px;
        border:2px  solid rgba(128, 128, 128, 0.166);
        border-radius:5px
    }
    .nav-select{
        height:30px;
        background-color: whitesmoke;
        border:none
      
    }
    .search-icon{
        position:absolute;
        margin-left: 370px;
        padding-top:10px;
        font-size:33px;
        color: gray;
    
    }
    .nav-categories{
        align-items: center;
        display: flex;
        width: 110px;
        height: 24px;
        margin-bottom: 8px;
        object-fit: contain;
        padding-top:10px;
    }
    .dropdown{
        height: 100%!important;
        box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
        padding: 20px;
        border-radius: 8px;
        background-color: #fff;
        display: grid;
        grid-template-columns: repeat(2,50%);
        color: #4b4f54;
    }
    .nav-log{
        display: flex;
        font-size:14px;
        margin-right: 11px;
    }
    .nav-cat-icon{
        height: 22px;
        margin-right: 9px;
        
    }
    .nav-i-color{
       color: rgb(103, 96, 96);
    }
   .cat-img{
    width: 40px;
    height:37px;
   }
    .nav-cart{
        border: 1px solid red;
        border-radius: 5px;
        display:flex;
        align-items: center;
        font-size:18px;
        width: 100px;
        height: 55px;
        margin-left: 9px;
    }

    .nav-icons{
        
        width:27px;
        height:27px;
        margin-top:3px;
    } 
    .nav-loc{
        display: flex;
        font-size: 14px;
    }
    .nav-p{
        font-size: 12px;
        margin-right: 20px;
        color: black;
    }
    .profile{
        border:1px solid black;
        border-radius:50%;
        padding:3px
        
    }
    
    .color{
        color:gray
    }
   
    .top-bar{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:26px;
        width:80%;
        justify-content:space-between;
        margin:auto;
        font-size:14px;
        margin-top:5px;
        background-color:white;
        text-align: center;
        padding-left:20px;
        overflow: hidden;
        background-color:whitesmoke
       
        
    }
    
    .cat-category{
        width:75%;
        text-align:left;
        margin:auto;
        padding-left:20px;
    }
    .category-main{
        margin-top:20px;
        margin-bottom:20px;
    }
    .top-img{
        width:260px;
        height:200px;
        border-radius: 20px;
        transition: transform .9s;
    }
    .top-img:hover{
        transform: scale(1.1);
        transform-origin: 70% 70%;
    }
    .top-para{
        font-weight: 500;
        width:95%;
        margin-top:10px;
        margin-bottom:10px;
        font-size: 17px;
    }
    .pad{
        margin-left:20px
    }
    .banner{
        width:100%;
        height:430px
    }
    .join{
        display: flex;
        justify-content: space-between;
        padding:8px;
    }
    .join-main{
        width:55%;
        background-color:rgb(255,220,147);
        margin:auto;
        border-radius: 5px;
        margin-top:10px;
    }
     .join-btn{
        background-color: rgb(209,18,67);
        border-radius: 5px;
        color:white;
        padding: 9px 16px 9px 16px;
        border: none;
    }
 
    .join-p{
        width:70%;
        display: flex;
        justify-items: flex-start;
        font-size:13px;
        padding-bottom: 4px;
       margin-left: 1px;
    } 
    .disc-1,.disc-3{
        display:flex;
        width: 900px;
        height:140px;
        margin-left:10px;
    }
    .discover{
        display:flex;
        margin-top:10px;
        width:900px;
        margin: auto;
       
    
    }
    .discover-main{
        padding: 10px;
        width: 70%;
        margin: auto;
    }
    .disc-p{
        width:230px;
        border-left:1px solid rgba(128, 128, 128, 0.556);
        border-top: 10px solid white;
        border-bottom: 48px solid white;
        padding-bottom:17px;
        padding-left:20px;
        padding-right:20px;
        margin-bottom:40px;        
    }
    .disc-2{
        position:absolute;
        width:900px;
        height:100px;
        border: 1px solid rgba(128, 128, 128, 0.522);
        padding-bottom: 10px;
        border-radius:7px;
        margin-left:0px;
    }
    
    .extra{
        width:250px;
       
    }
    .extra1{
        width:140px;
         border-left:none;
         padding-left:40px;
    }
    .extra3{
         width:120px; 
         padding-right:-20px;
    
    }
    .extra2{
        width:180px
    }
    .extra4{
        width:180px
    }
    .disc-w{
        color:rgb(209,18,67)
    }
    .disc-btn{
        color:rgb(209,18,67);
        border: 1px solid rgb(209,18,67);
        border-radius:5px; 
        padding: 10px 20px 10px 20px;
        background-color:white;
    }
    .cash-img{
        margin-top:10px;
        margin:auto;
    }
    .reward-main{
        display: flex;
        justify-content:space-between;
        width:50%;
        background-color:rgb(254,233,236);
        margin:auto;
        padding:5px;
        height:90px;
        font-size:15px;
        margin-top:10px;
    }
    .reward-div{
        display: flex;
    }
    .reward-btn{
        border:none;
        color:rgb(209,18,67);
        margin-top:30px;
    }
    .reward-left{
        text-align:left
    }
    .reward-img{
        width:50px;
        height:50px;
        margin-top:20px;
    }
    .empty-img{
        width:1150px;
        height:400px;
        margin-bottom: 100px;
        margin-top:10px;
        margin:auto;
    }
    .blog-title{
        font-weight:bold;
    }
    .blog-main{
    width:1130px;
    margin:auto;
    }
    .blog-head{
        display: flex;
        justify-content: space-between;
    }
    .blog-content{
        display: flex;
        text-align:left;
        flex:10px;
    }
    .blog-img{
        width: 370px;
        height: 370px;
        border-radius:7px;
    }
    .blog-box{
        width:370px;
        margin: 10px;
        border-radius:7px;
        margin-left: 0px;
    
    }
    .adv-img{
        width:1130px;
        height:470px;
        margin:auto;
    }
    .newsmain{
        text-align:left;
        color:rgb(63, 75, 91);
        background-color:white;
        font-weight:bold;
    }
    .news-h2{
        margin-left: 190px;
      font-weight: bold;
    }
    .news-div{
        display: flex;
        gap: 10px;
        overflow-x: scroll;
        width: 80%;
        margin-right: 10px;
        background-color:white;
        text-align:left;
        margin:auto;
    }
    .news-img{
        
        height:130px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        padding-top:30px;
        padding-bottom:30px;
        background-color: white;
        border-radius: 5px;
        
    }
    .news-head{
        width:100px;
     
    }
    .news-second{
        margin-right: 15px;
    }
    .items-div{        
        display: grid;
        overflow-y: scroll;
        display: flex;      
        height: 405px;
        text-align:left;
        font-size:13px;
        width: 80%;margin: auto;
        padding: 7px;
         gap: 17px;       
        }
        .seller-box{ 
            
            height:373px;
           
            border-radius:8px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        
        }
       .seller-img{
            width: 380px;
            height:256px; 
            border-radius:8px 8px 0px 0px;
        }
        .seller-head{
            font-weight:bold;
            padding:0px 10px 0px 10px; 
        }
       .seller-wt,.seller-pr,.seller-dl{
            display :flex;
            padding:0px 10px 0px 10px;
        } 
        
        .seller-btn{
            background-color:rgb(209,18,67);
            color:white;
            border:none;
            border-radius:8px;
            font-size:13px;
            font-weight:bold;
            padding:5px 7px 5px 7px;
        }
        .seller-pr{
            justify-content:space-between;
            margin-bottom:5px;
        }
        .seller-wt{
            width:60%;
            justify-content:space-between;
        }
       
        .seller-dl{
            justify-content:center;
            border-top:1px solid rgba(128, 128, 128, 0.214);
            color: rgba(128, 128, 128, 0.696);
        } 
        .seller-head{
             width: 360px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;  
        }
        .seller-chick{
            color: rgba(128, 128, 128, 0.696);
        }
        .seller-mrp{
        color:rgb(209,18,67);
        }




        .chick-div{
            display:grid;
            grid-template-columns: repeat(3,1fr);
            text-align:left;
            font-size:13px;
            grid-gap:20px;
            width:1130px; 
            margin-left:182px;
            
            }
            .chick-wt,.chick-pr,.chick-dl{
                display :flex;
                padding:0px 10px 0px 10px;
            }
            .chick-wt{
                width:60%;
                justify-content:space-between;
            }
            .chick-pr{
                justify-content:space-between;
                margin-bottom:5px;
            }
            .chick-dl{
                justify-content:center;
                border-top:1px solid rgba(128, 128, 128, 0.214);
                color: rgba(128, 128, 128, 0.696);
            }
            .chick-box{
                width: 370px;
                height:416px;
                line-height:32px;
                border-radius:8px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            
            }
            .chick-img{
                width: 370px;
                height:246px; 
                border-radius:8px 8px 0px 0px;
            }
            .chick-head{
                font-weight:bold;
                padding:0px 10px 0px 10px; 
            }
            .extra-head{
                width: 350px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap; 
            }
            .extra-chick{
                color: rgba(128, 128, 128, 0.696);
            }
            .chick-mrp{
            color:rgb(209,18,67);
            }
            .chick-btn{
                background-color:rgb(209,18,67);
                color:white;
                border:none;
                border-radius:8px;
                font-size:13px;
                font-weight:bold;
                padding:0px 7px 0px 7px;
            }



        .f-inner{
            display:flex;
        }
        .footer-main{
            width:1130px;
            margin:auto;
            text-align:left;
            margin-top:20px;
        }
        .f-first{
            display: flex;
        }
        .f-last{
            text-align:center;
        }
        .f-flex{
            display: flex;
        }
        .f-title{
            display: flex;
        }
        .f-touch{
            display: flex;
        }
        .f-hr{
            width:1130px;
            margin-top: 10px;
        }
        .footer-h1{
            font-weight:bold;
        }
        .footer-p{
            font-size:14px;
        }
        .footer-part1{
            border-right:1px solid rgba(128, 128, 128, 0.195);
            padding-right:10px;
        }
        .footer-img{
            width:120px;
            margin-bottom: 10px;
        }
        .f-inner{
            padding-right:10px;
        }
        .footer-part2{
            padding-right:10px;
        }
        .footer-main{
            color:rgb(85, 83, 83);
        }
        .f-touch{
        margin-left: 70px;;
        }
        .f-keep{
            margin-right:30px;
        }
        .footer-icon{
            font-size:26px;
            margin-right: 10px;
        }
        .icon1:hover{
        color:rgb(211, 77, 20)
        }
        .icon2:hover{
            color:rgb(68, 67, 163)
        }
        .icon3:hover{
            color:rgb(0, 123, 255)
        }
        .footer-hr{
            display: flex;
        }
        .foot-hr{
            border-top: 1px solid rgb(224, 224, 224);
            width:80%;
            margin-top:10px;
        }
        .footer-para{
            font-size:15px;
            line-height:20px;
        }
        .mar{
            margin-top:10px;
        }
        .footer-cities{
            font-size:13px;
        }
        .f-flex{
            font-weight:bold;
            justify-content:space-between;
            font-size:14px;
            width:35%;
            margin: auto;
        }
        .f-last{
            text-align:center;
            font-size:13px;
        }
        .f-img{
            width:15px;
            height:15px;
            margin-top:3px;
        }
        .f-2020{
            font-weight:400
        }
        .login-body{
            width: 50%;
            margin-left: 60%;
            background-image: url("https://indifoodbev.com/wp-content/uploads/2019/12/Drumsticks-750x750.jpg");
            background-repeat: no-repeat;
            background-size:cover
        }
        .login-body2{
            background-color: white;
            height:450px;
            margin-top: 260px;
            border-radius:7px;
        }
        .login-otpget{
            background-color:rgb(209,18,67);
            color:white;
            width:100%;
        }
        .login-confirm{
            color:white;
            width:100%;
            margin-top:10px ;
           background-color:rgb(209,18,67);
        }
        .login-mob{
            margin-top:20px;
            margin-bottom: 20px;
        }
        .bold{
            color:rgb(209,18,67);
        }
        .login-pp{
            font-size:12px;
        }.cart-item{
            color:black;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
             margin-top: 15px;
             margin-bottom: 15px;
             padding:10px;
        
        }
        .cartdrawer{
            background-color: white;
            width: 300px;
        }
            .cart-box{
                display:flex;
                justify-content:space-between
            }
            .cart-boxx1{
                display:flex;
                
            }
            .cart-p1{
                background-color: rgb(220, 237, 244);
                padding-left:3px;
                padding-right:3px;
                border-radius:3px;
                font-weight: bold;
            }
            .cart-p2{
                margin-left: 10px;
                font-weight: bold;
            }
            .cart-box2{
                display:flex;
            }
            .cart-p3{
                border:1px solid black;
                border-radius:4px;
                margin-right: 10px;
                padding-top:5px
            }
            .cart-p4{
                color:rgb(209,18,67);
                margin-top:5px;
            }
            .cart-box3{
                display:flex;
            }
            .cart-p5{
                margin-top: 5px;
            }
            .cart-box11{
                display:flex;
            }
            .join-join{
                display:flex;
                background-color:rgb(255,220,147);
                height:50px;
                padding:10px;
                border-radius:8px;
                border:1px solid gray;
                justify-content:space-between;
            }
            .join-now{
                color:rgb(209,18,67);
            }
            .bill-flex{
                display:flex;
                justify-content:space-between;
                font-size:12px;
                color:rgb(148, 146, 146);
            }
            .bill-main{
                border:1px dashed gray;
                padding:24px;
                margin-top:20px;
            }
            .bill-total{
                font-size:16px;
                font-weight:bold;
                color:black
            }
            .bill-last{
                background-color:whitesmoke;
                width:100%;
            }
            .bill-b{
                margin-right:90px;
                margin-left:20px;
                font-size:20px;
            }
            .bill-img{
                border:1px solid blue
            }
            .login-body{
                background-image: url("https://indifoodbev.com/wp-content/uploads/2019/12/Drumsticks-750x750.jpg");
                background-repeat: no-repeat;
                background-size:cover
            }
            .login-body2{
                background-color: white;
                height:450px;
                margin-top: 260px;
                border-radius:7px;
            }
            .login-otpget{
                background-color:rgb(209,18,67);
                color:white;
                width:100%;
            }
            .login-confirm{
                color:white;
                width:100%;
                margin-top:10px ;
               background-color:rgb(209,18,67);
            }
            .login-mob{
                margin-top:20px;
                margin-bottom: 20px;
            }
            .bold{
                color:rgb(209,18,67);
            }
            .login-pp{
                font-size:12px;
            }
            .nav-nav{
               
               justify-content: center;
               margin-top: 5px;
               margin-left: 5px;
               display: flex;
            }

            .nav-cart:hover{
                color:rgb(209,18,67);
            }
            .extra-21{
                margin-left: 10px;
            }
            .cart-para{
                margin-top: 15px;
                margin-bottom: 15px;
                font-size:13px;
            }
            .check-btn{
            border:1px solid rgb(209,18,67);
            font-weight:bold;
            font-size:29px;
            padding:5px 150px 5px 150px;
            border-radius:7px;
            color:rgb(209,18,67);
            margin-left:50px;
            }
            .check-h{
                text-align: left;
                font-weight:bold;
                font-size:23px;
                margin-top: 20px;
                margin-bottom:7px;
            }
            .checkout-main{
                text-align:left;
                width:45%;
                padding:20px;
                margin:auto;
                border-radius:6px;
                margin-top:60px;
                margin-bottom:60px;
                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            }
            .check-flex{
                display:flex;
            }
            .check-box{
                border:1px solid gray;
                color:gray;
                padding:10px;
                width:100%;
                border-radius:5px;
                margin-bottom:10px;
                margin-left: 10px;
            }
            .check-flex1{
                display:flex;
                color:rgb(209,18,67);
                font-weight: bold;
                justify-content:space-between;
            }
            .proceed{
                color:white;
                background-color:rgb(209,18,67);
                font-weight: bold;
                font-size:19px;
                padding:10px 30px 10px 30px;
                border-radius:7px;
            }
            .payment-main{
                display:flex;
                text-align:left;
                width:55%;
                background-color:white;
                margin:auto;
                margin-top:60px;
                margin-bottom:60px;
            
            }
            .payment-sdiv{
                border:1px solid rgba(154, 151, 151, 0.282);
                width:200px;
                font-weight: bold;
                height:55px;
                padding-top: 10px;
            }
            .payment-box{
                font-size:12px;
            }
            .card-flex22{
                display:flex;
                margin-bottom:10px;
            }
            .card-head{
                font-weight: bold;
                font-size:20px;
            }
            .payment-boxs{
                display:flex;
            }
            .card-num{
                width:100%;
                height:40px;
                border:none;
                border-bottom: 1px solid black;
                margin-bottom: 30px;
            }
            .card-mm,.card-yy,.card-cvv{
                height:40px;
                margin-right: 15px;;
                border:none;
                width:170px;
                border-bottom:1px solid black
            }
            .card-p{
                margin-top:8px;
                margin:10px;
                margin-bottom:20px;
            }
            .card-name{
                width:100%;
                height:40px;
                border:none;
                border-bottom: 1px solid black;
                margin-bottom:20px;
            }
            .card-check{
                display:flex;
            
            }
            .pay-button{
                background-color:rgb(209,18,67);
                padding:10px 40px 10px 40px;
                color:white;
                border-radius:6px;
            }
            .payment-sdiv2{
                padding:20px;
            }
            .footer-h1{
                font-weight:bold;
            }
            .footer-p{
                font-size:14px;
            }
            .footer-part1{
                border-right:1px solid rgba(128, 128, 128, 0.195);
                padding-right:10px;
            }
            .footer-img{
                width:120px;
                margin-bottom: 10px;
            }
            .f-inner{
                padding-right:10px;
            }
            .footer-part2{
                padding-right:10px;
            }
            .footer-main{
                color:rgb(85, 83, 83);
            }
            .f-touch{
            margin-left: 70px;;
            }
            .f-keep{
                margin-right:30px;
            }
            .footer-icon{
                font-size:26px;
                margin-right: 10px;
            }
            .icon1:hover{
            color:rgb(211, 77, 20)
            }
            .icon2:hover{
                color:rgb(68, 67, 163)
            }
            .icon3:hover{
                color:rgb(0, 123, 255)
            }
            .footer-hr{
                display: flex;
            }
            .foot-hr{
                border-top: 1px solid rgb(224, 224, 224);
                width:80%;
                margin-top:10px;
            }
        .f-flex{
            font-weight:bold;
            justify-content:space-between;
            font-size:14px;
            width:35%;
            margin: auto;
        }
        .f-last{
            text-align:center;
            font-size:13px;
        }
        .f-img{
            width:15px;
            height:15px;
            margin-top:3px;
        }
        .f-2020{
            font-weight:400
        }
        #fish-flex1{
            display: flex;
        }
        #fish-flex2{
            display: flex;
        }
        .fish-img{
        width:40px;
        height:40px;
        }
        #fish-flex0{
            display: flex;
            width:650px;
            justify-content:space-between;
            margin-left: 182px;
        }
        #fish-flex4{
            display: flex;
            width:580px;
            justify-content:space-between;
        }
        #fish-head{
            font-size:22px;
            font-weight:bold;
            padding-top: 5px;
        }
        #fish-fish1,#fish-fish2,#fish-fish3{
            padding-top:10px;
            color:rgba(128, 128, 128, 0.77);
            font-size: 15px;
        }
        .icon-crumb{
            padding-top:3px;
            font-size:20px;
        }
        .breadcrumb{
            width:150px;
            margin-left:155px;
        }