.navbar-1,.navbar-2,.navbar-0{
    display:flex;
    height:20px;
    padding-bottom: 19px;
    gap: 10px;
    }
    .navbar-0{
        justify-content:space-evenly;
        height:25px;
        background-color:whitesmoke

        
    }
    .nav-p{
        font-size:14px;
        color: rgb(100, 97, 97);
        cursor: pointer;
    }
    .nav-i{
        padding-top:1px;
        cursor: pointer;
    }
    /* .navbar-1{
        width:16%;
        justify-content:space-between;
    
        display: flex;
    }
    .navbar-2{
        width:30%;
        justify-content:space-between;
    } */
    .nav-img{
        margin-top:1px;
        width:17px;
        height:17px;
        cursor: pointer;
    }

    .main-cont{
        width: 100%;
        padding:10px;
        box-shadow: rgb(204, 219, 232) 0px -2px 6px 0px inset, rgba(255, 255, 255, 0.5) 0px 0px 0px 0px inset;
    }
    .container {
        width: 85%;
        margin: auto;
        display: flex;
        padding-top:15px;
        padding-bottom:15px;
        align-items: center;
        justify-content:space-evenly;
       
      }
       
      /* @media screen and (min-width: 900px) {
        .container {
          width: 70%;
        }
      }
      
      @media screen and (min-width: 560px) {
        .container {
          width:100%;
        }
      }  */

    #freshest{
      color:rgba(128, 128, 128, 0.658);
      font-size:14px;
    }
    #shop-cat{
        font-size:22px;
        font-weight:bold; 
    }
    .nav-inp{
        height:40px;
        width:410px;
        border:2px  solid rgba(128, 128, 128, 0.166);
        border-radius:5px
    }
    .nav-select{
        height:30px;
        background-color: whitesmoke;
        border:none

        /* margin-top: 1px; */
      
    }
    .search-icon{
        position:absolute;
        margin-left: 370px;
        padding-top:10px;
        font-size:33px;
        color: gray;
    
    }
    .nav-categories{
        align-items: center;
        display: flex;
        width: 110px;
        height: 24px;
        margin-bottom: 8px;
        object-fit: contain;
        padding-top:10px;
    }
    .dropdown{
        height: 100%!important;
        box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
        padding: 20px;
        border-radius: 8px;
        background-color: #fff;
        display: grid;
        grid-template-columns: repeat(2,50%);
        color: #4b4f54;
    }
    .nav-log{
        display: flex;
        font-size:12px;
        margin-right: 9px;
    }
    .nav-cat-icon{
        height: 22px;
        margin-right: 9px;
        
    }
    .nav-i-color{
       color: rgb(103, 96, 96);
    }
   .cat-img{
    width: 40px;
    height:37px;
   }
    .nav-cart{
        border: 1px solid red;
        border-radius: 5px;
        display:flex;
        align-items: center;
        font-size:14px;
        width: 100px;
        height: 48px;
        margin-left: -0px;
    }

    .nav-icons{
        
        width:27px;
        height:27px;
        margin-top:3px;
    } 
    .nav-loc{
        display: flex;
        font-size: 14px;
    }
    .nav-p{
        font-size: 12px;
        margin-right: 20px;
        color: black;
    }
    .profile{
        border:1px solid black;
        border-radius:50%;
        padding:3px
        
    }
    
    .color{
        color:gray
    }
   
    .top-bar{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:26px;
        width:80%;
        justify-content:space-between;
        margin:auto;
        font-size:14px;
        margin-top:5px;
        background-color:white;
        text-align: center;
        padding-left:20px;
        overflow: hidden;
        background-color:whitesmoke
       
        
    }
    
    .cat-category{
        width:75%;
        text-align:left;
        margin:auto;
        padding-left:20px;
    }
    .category-main{
        margin-top:20px;
        margin-bottom:20px;
    }
    .top-img{
        width:260px;
        height:200px;
        border-radius: 20px;
        transition: transform .9s;
    }
    .top-img:hover{
        transform: scale(1.1);
        transform-origin: 70% 70%;
    }
    .top-para{
        font-weight: 500;
        width:95%;
        margin-top:10px;
        margin-bottom:10px;
        font-size: 17px;
    }
    .pad{
        margin-left:20px
    }
    .banner{
        width:100%;
        height:430px
    }
    .join{
        display: flex;
        justify-content: space-between;
        padding:8px;
    }
    .join-main{
        width:55%;
        background-color:rgb(255,220,147);
        margin:auto;
        border-radius: 5px;
        margin-top:10px;
    }
     .join-btn{
        background-color: rgb(209,18,67);
        border-radius: 5px;
        color:white;
        padding: 9px 16px 9px 16px;
        border: none;
    }
 
    .join-p{
        width:70%;
        display: flex;
        justify-items: flex-start;
        font-size:13px;
        padding-bottom: 4px;
       margin-left: 1px;
    } 
    .disc-1,.disc-3{
        display:flex;
        width: 900px;
        height:140px;
        margin-left:10px;
    }
    .discover{
        display:flex;
        margin-top:10px;
        width:900px;
        margin: auto;
       
    
    }
    .discover-main{
        width: 70%;
        margin: auto;
    }
    .disc-p{
        width:230px;
        border-left:1px solid rgba(128, 128, 128, 0.556);
        border-top: 10px solid white;
        border-bottom: 48px solid white;
        padding-bottom:17px;
        padding-left:20px;
        padding-right:20px;
        margin-bottom:40px;

        
    }
    .disc-2{
        position:absolute;
        width:900px;
        height:100px;
        border: 1px solid rgba(128, 128, 128, 0.522);
        padding-bottom: 10px;
        border-radius:7px;
        margin-left:0px;
    }
    
    .extra{
        width:250px;
       
    }
    .extra1{
        width:140px;
         border-left:none;
         padding-left:40px;
    }
    .extra3{
         width:120px; 
         padding-right:-20px;
    
    }
    .extra2{
        width:180px
    }
    .extra4{
        width:180px
    }
    .disc-w{
        color:rgb(209,18,67)
    }
    .disc-btn{
        color:rgb(209,18,67);
        border: 1px solid rgb(209,18,67);
        border-radius:5px; 
        padding: 10px 20px 10px 20px;
        background-color:white;
    }